# k-NN PREDICT WHETHER THE PERSON WILL HAVE DIABETES OR NOT

In [1]:
import numpy as np     
import pandas as pd
import matplotlib.pyplot  as plt  

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
from sklearn.metrics import f1_score

In [9]:
import pandas as pd

In [22]:
data = pd.read_excel(r"C:\Users\adwai\OneDrive\Documents\predict diabetes\project about predicting diabetes.csv.xlsx")

In [23]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9
0,NaN,6,148,72,35,0,33.6,0.627,50,1
1,NaN,1,85,66,29,0,26.6,0.351,31,0
2,NaN,8,183,64,0,0,23.3,0.672,32,1
3,NaN,1,89,66,23,94,28.1,0.167,21,0
4,NaN,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,NaN,10,101,76,48,180,32.9,0.171,63,0
764,NaN,2,122,70,27,0,36.8,0.340,27,0
765,NaN,5,121,72,23,112,26.2,0.245,30,0
766,NaN,1,126,60,0,0,30.1,0.349,47,1
767,NaN,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
#replace zeros
import numpy as np
zero_not_accepted =('Glucose','BloodPressure','SkinThickness','BMI','Insulin')
for column in zero_not_accepted:
    data[column] = data[column].replace(0, np.NaN)
    mean = int(data[column].mean(skipna=True)) 
    data[column] = data[column].replace(np.NaN,mean)

In [24]:
print(data['Glucose'])

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Glucose, Length: 768, dtype: int64

In [ ]:
#split dataset into train and test
X=dataset.iloc[:,0:8]
Y=dataset.iloc[:,8]
X_train,X_test,Y_train,Y_test,=train_test_split(X,Y,random_state=0,test_size=0.2)

In [ ]:
#feature of standardscaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

In [33]:
#define model : init knn

768

In [34]:
import math
math.sqrt(len(y_train))

24.779023386727733

In [ ]:
# loading model - KNN
import matplotlib.pyplot  as plt 
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=11,p=2,metric='euclidean')

In [ ]:
# fitting model
import matplotlib.pyplot  as plt 
from sklearn.neighbors import KNeighborsClassifier
Classifier.fit(x_train,y_train)

In [ ]:
#making predictions
y_pred = classifier.predict(x_test)

In [35]:
#accuracy
print(accuracy_score(y_test,y_pred))

0.8181818181818182